

 <!DOCTYPE html>
<html>
  <head>
      <title>About</title>
 
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body class="body1">
  <div>
  <ul>
  <li><a href="{{url_for('home')}}"><h4>Home</h4></a></li>
  <li><a href="{{url_for('addevent')}}"><h4>Add event</h4></a></li>
  <li><a class="active" href=""><h4>About Us</h4></a></li>
 
  </ul>
  <h5>About Us</h5> 
  </div>
<div id="main">
     
      	<div align="justify" class="jobs_container">
    <h3>Every person , organization , group will need help at some point to start a initiatve and advertise and on the other hand so many people want to give back to the community or be part of it and don't know how.Our website helps you with those needs.</h3>
    <h3>Our main goal is Providing ordaniry people a place that they can start their intiative or social event and people can read about it and even volunteer to be part of it!
 </h3></div>
</div>
</div>
      	
      	

      
</body>
</html>