<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>To add an event fill in the details!</p>
<form action="/add_event" method="POST">
    <input type="text" name="nameOfEvent" placeholder=" Name of the event">
    <br>
    <input type="text" name="date" placeholder=" The event's date">
    <br>
    <input type="text" name="discription" placeholder=" Discription of the event">
    <br>
    <input type="text" name="nameOfCreater" placeholder=" Your name/Organization's name">
    <br>
    <input type="text" name="phoneNumber" placeholder="Phone Number">
    <br>
    <input type="text" name="email" placeholder=" Email">
    <br>
    <input type="text" name="pic" placeholder="picture">
    <br>
    <input type="text" name="requirements" placeholder="Things you need people to bring or volunteers for certain things">
    <br>
    <input type="text" name="nunberOfVolunteers" placeholder=" Name of the event">
    <br>
    <input type="submit" value="Add event">
</form>

</body>
</html>